.container {
    display: flex;
    height: 100%;
    padding: 6em;
    overflow-y: hidden;
    align-items: center;
    width: 100%;
    height: 100vh !important;
}

.card {
    margin-top: 6%;
    width: 50%;
    
    padding: 14px;
}

@media (min-width: 0px) and (max-width: 768px) {
    .container {
        height: 100vh !important;
    }
    .card {
        width: 80vw !important;
        margin-top: 40%;
    }
}
