.input {
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.inputButton label {
    text-align: start;
}

.inputButton button {
    border: none;
    background-color: transparent;
    position: absolute;
    padding: 5px;
    margin-top: 0.5em;
    margin-left: -2.2em;
}

.input[type='file'] {
    border: none;
    background-color: transparent;
    width: 8.90em;
}

.input::file-selector-button {
    color: #fff;
    background-color: black;
    width: 8em;
    height: 2em;
    cursor: pointer;
    border-radius: 4px;
}