.sideContainer {
    overflow: hidden;
    position: relative;
    max-width: 500px;;
}

.sidemenu {
    position: fixed;
    background-color: #d3d3d3;
    z-index: 1000;
    min-width: 232px;
    height: 100%;
    overflow-y: auto;
    padding-top: 60px;
}

.sideMenuTitle {
    position: absolute;
    top: 0;
    z-index: 1001;
    text-align: center;
}

.selected {
    background-color: #000000;
    color: white;
    width: 100%;
}

.side {
    transform: scale(0.8);
    padding-top: 24px;
}

.sidemenu li {
    padding: 8px;
    border-radius: 12px;
}

.sidemenu li:hover {
    background-color: #949494;
}

.item {
    width: 100%;
    align-items: center;
}

.sidemenu button {
    margin-left: 14%;
    padding: 8px;
    border-radius: 6px;
    transform: scale(0.8);
}

.profile {
    margin-top: 6px;
    padding: 4px;
    justify-content: start;
}

.profile h3 {
    margin-top: 2dvh;
}

.profile.expanded {
    margin-left: 0%;
    justify-content: center;
}

.profile.collapsed {
    margin-left: 1.25em;
    width: 75%;
    transition: 0.4s;
    border-radius: 2px;
}

.profileIcon {
    margin-top: 6px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 34px;
    transition: 0.5s;
    z-index: 1000;
    color: #ffffff;
    overflow: hidden;
}

.listIcon {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    z-index: 1000;
    color: #181818;
    overflow: hidden;
}

.listIcon.collapsed {
    margin-left: 22%;
}

.listIcon.expanded {
    position: absolute;
    transition: 0.3s;
    margin-left: 80%;
}

.line {
    background-color: rgb(151, 145, 145);
    height: 2px;
    width: 100% !important;
}

.profileActions i {
    display: flex;
    width: 40px;
    height: 38px;
    border-radius: 42%;
    justify-content: center;
    background-color: #ffffff;
}