.container {
    display: flex;
    gap: 2em;
    max-width: 94%;
}

.calender {
    width: 20em;
    height: 20em;
    border-radius: 8px;
}

.expenses {
    background-color: #d3d3d3;
    width: 26em;
    height: 21em;
    border-radius: 8px;
}

.expenses ul li {
    margin-left: 0.75em;
    width: 94%;
}
.container li:hover {
    background-color: #ffffff;
    border-radius: 8px;
    border-bottom: 1px solid rgb(187, 185, 185);
}

.analitics {
    background-color: #d3d3d3;
    width: 14em;
    height: 19em;
    border-radius: 8px;
}

.expensesCategories {
    margin-top: 19em;
    position: absolute;
    background-color: #d3d3d3;
    width: 20em;
    height: 19em;
    border-radius: 8px;
}

.line {
    width: 100%;
    background-color: rgb(187, 185, 185);
    height: 1px;
}