.modal {
    position: fixed;
    box-shadow: inset;
    height: 98%;
    width: 70%;
    border: 2px solid;
    border-radius: 6px;
    top: 1%;
    margin-left: 20%;
    background-color: white;
    z-index: 1000;
}

.modalContainer {
    width: 100%;
    padding: 4px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.modalContainer textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.modalContainer select {
    padding: 4px;
    width: 10em;
    background-color: bisque;
    border-radius: 4px;
    border: 1px solid #dfdfdf;
}

.closeButton {
    position: absolute;
    top: 1em;
    margin-left: 96%;
}

.datePicker {
    width: 16em;
}