.dashboard {
    display: flex;
    margin: 0%;
    height: 100vh;
    top: 0;
}

.blur {
    filter: blur(8px);
    display: flex;
    margin: 0%;
    height: 100vh;
    top: 0;
}

.children {
    padding: 2em;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 6em;
    margin-left: 14em;
    min-height: calc(100vh - 6em);
    max-width: 1200px;
}