.dashboard {
    display: flex;
    margin: 0%;
    height: 100vh;
    top: 0;
}

.blur {
    filter: blur(8px);
    display: flex;
    margin: 0%;
    height: 100vh;
    top: 0;
}

.children {
    padding: 2em;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 6em;
    margin-left: 15em;
    min-height: calc(100vh - 6em);
    max-width: 1200px;
}

/* .toggleButton {
    margin-top: 1.38em;
    position: fixed;
    margin-left: 12em;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    left: calc(60px + 10px);
    transition: 0.4s;
    z-index: 3000;
    overflow: hidden;
} */