.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/desktopBg.jpg');
    background-size: cover;
}

.loginButton button {
    width: 12em;
}

div .input p {
    color: rgb(0, 0, 0);
}

.profileIcon {
    color: #d3d3d3;
    height: 140px;
}

.inputFile {
    margin-top: 2em;
}

.profileImage {
    width: 100px;
    height: 100px;
}